# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented dirs created by nyc
.nyc_output

# Gatsby files
.cache/
public

# Comment this out if you want to publish your site's builds
dist/

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rts2_cache_*/
.wmr/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Serverless Webpack templates
.webpack/

# Bundler caches
.parcel-cache
.eslintcache
.stylelintcache

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
